# OS
.DS_Store
.vscode

# package directories
node_modules
jspm_packages
data-conversion/node_modules

# Serverless directories
.serverless

# Config
local*.json

# Tests
coverage
reports
junit.xml


